# Project
# -------

# Misc intermediary/meta files
_untracked/



# KiCad
# -----

# Backup files
*-backups/
*.bak

# Temporary files
*.kicad_prl
fp-info-cache
~*.lck



# Firmware
# --------

# Build files
firmware/build/
firmware/.cache/
